<%= form_with model: @artist_spot, url: @artist_spot.id ? spot_path(@artist_spot.id) : spots_path, method: (@artist_spot.id ? :patch : :post), local: true do |form| %>
  <%= render "shared/error_messages", object: form.object %>

  <div class="mb-10">
    <div class="flex flex-wrap">
      <%= form.label :tag, class: "text-base font-bold mb-2" %>
      <p class="text-red-500 ml-1">*</p>
    </div>

    <div class="flex justify-around">
      <div>
        <%= form.radio_button :tag, :video_location %>
        <%= form.label :tag_video_location, t("defaults.video_location") %>
      </div>

      <div>
        <%= form.radio_button :tag, :sign %>
        <%= form.label :tag_sign, t("defaults.sign") %>
      </div>

      <div>
        <%= form.radio_button :tag, :others %>
        <%= form.label :tag_others, t("defaults.others") %>
      </div>
    </div>
  </div>

  <div class="mb-10">
    <div class="flex flex-wrap">
      <%= form.label :name, class: "text-base font-bold mb-2" %>
      <p class="text-red-500 ml-1">*</p>
    </div>
    <%= form.text_field :name, placeholder: t(".artist_name_placeholder"), class: "shadow border rounded w-full py-2 px-3" %>
  </div>

  <div class="flex justify-between items-end mb-10 w-full">
    <div class="flex flex-col flex-grow">
      <div class="flex flex-wrap">
        <%= form.label :spot_name, class: "text-base font-bold mb-2" %>
        <p class="text-red-500 ml-1">*</p>
      </div>
      <%= form.text_field :spot_name, placeholder: t(".spot_name_placeholder"), id: "spot", class: "shadow border rounded w-full py-2 px-3" %>
    </div>
    <div class="flex flex-nowrap">
      <input type="button" value=<%= t(".create_marker") %> onclick="createMarker()" class="btn-secondary ml-2 w-28">
    </div>
  </div>

  <div class="flex justify-between items-end mb-2 w-full">
    <div class="flex flex-col flex-grow">
      <div class="flex flex-wrap">
        <%= form.label :address, class: "text-base font-bold mb-2" %>
        <p class="text-red-500 ml-1">*</p>
        <p class="ml-1 text-sm"><%= t(".address_message") %></p>
      </div>
      <%= form.text_field :address, placeholder: t(".address_placeholder"), id: "address", class: "shadow appearance-none border rounded w-full py-2 px-3" %>
    </div>
    <div class="flex flex-nowrap">
      <input type="button" value=<%= t(".delete_marker") %> onclick="deleteMaker()" class="btn-secondary ml-2 w-28">
    </div>
  </div>

  <%= form.hidden_field :latitude, id: "latitude" %>
  <%= form.hidden_field :longitude, id: "longitude" %>

  <div class="mb-10">
    <div id="map" class="h-96 rounded-md"></div>
  </div>

  <div class="mb-10">
    <%= form.label :detail, class: "text-base font-bold mb-2" %>
    <%= form.text_field :detail, class: "shadow appearance-none border rounded w-full py-2 px-3 mb-3 leading-tight" %>
  </div>

  <div class="mb-10">
    <div class="flex flex-wrap">
      <%= form.label :images, class: "text-base font-bold mb-2" %>
      <p class="ml-1 text-sm"><%= t(".images_limit") %></p>
    </div>
    <%= form.file_field :images, multiple: true, accept: "image/*", class: "shadow appearance-none border rounded w-full py-2 px-3 leading-tight" %>
    <%= form.hidden_field :images_cache %>
  </div>

  <div class="flex items-center justify-center mb-20">
    <%= form.button t("defaults.create"), class: "btn-primary", type: "button", onclick: "submit();" %>
  </div>
<% end %>

<%= javascript_import_module_tag "_form" %>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" defer></script>
