<div class="p-2 w-full">
  <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center bg-gray-100 rounded shadow p-4 h-full">
    <div class="hidden sm:block">
      <%= link_to spot_path(spot), data: { turbo: false } do %>
        <p><%= spot.spot_name %> / <%= spot.artist.name %></p>
      <% end %>
    </div>
    <div class="block sm:hidden mb-2">
      <%= link_to spot_path(spot), data: { turbo: false } do %>
        <p><%= spot.spot_name %></p>
        <p><%= spot.artist.name %></p>
      <% end %>
    </div>
    <div class="flex flex-nowrap">
      <div class="badge badge-lg bg-gray-200 text-gray-700 border-none w-24 mr-3"><%= spot.tag_i18n %></div>
      <% if logged_in? %>
        <%= render_bookmark_button(current_user, spot) %>
      <% end %>
    </div>
  </div>
</div>
