<div class="p-2 w-full">
  <div class="bg-gray-100 rounded flex justify-between p-4 h-full items-center">
    <%= link_to spot_path(spot), data: { turbo: false } do %>
      <div><%= spot.spot_name %> / <%= spot.artist.name %></div>
    <% end %>
    <div class="flex">
      <div class="pr-2"><%= spot.tag_i18n %></div>
      <% if logged_in? %>
        <%= render_bookmark_button(current_user, spot) %>
      <% end %>
    </div>
  </div>
</div>
