<div class="container mx-auto px-36">
  <div class="mb-4">
    <h1 class="text-xl font-bold mb-2"><%= t(".title") %></h1>
    <hr>
  </div>

  <div class="flex items-center justify-end my-4">
    <%= link_to t("defaults.spot_create"), new_spot_path, data: { turbo: false }, class: "btn-primary" %>
  </div>

  <div role="tablist" class="tabs tabs-bordered mb-2">
    <a role="tab" id="list-tab" class="tab"><%= t(".display_list") %></a>
    <a role="tab" id="map-tab" class="tab"><%= t(".display_map") %></a>
  </div>

  <div id="list-view">
    <%= render "list" %>
  </div>
  <div id="map-view">
    <%= render "map" %>
  </div>
</div>

<%= javascript_import_module_tag "index" %>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" defer></script>
