<% content_for(:title, t("defaults.spots_index")) %>
<div class="container mx-auto px-8">
  <div class="mb-4">
    <h1 class="text-xl font-bold mb-2"><%= t("defaults.spots_index") %></h1>
    <hr>
  </div>

  <div class="flex flex-wrap justify-between items-center w-full my-4">
    <div class="flex flex-grow mr-6">
      <%= render "search_form", q: @q, url: spots_path %>
    </div>
    <div class="flex">
      <%= link_to t("defaults.spot_create"), new_spot_path, data: { turbo: false }, class: "btn-primary" %>
    </div>
  </div>

  <%= render "tab_list" %>

  <div id="list-view">
    <div class="my-6">
      <%= turbo_frame_tag "spots-list" do %>
        <div class="flex flex-col h-[36rem]">
          <% if @spots.present? %>
            <%= render @spots %>
          <% else %>
            <div class="mb-3"><%= t(".none_spot") %></div>
          <% end %>
        </div>

        <div class="flex justify-center my-4">
          <%= paginate @spots %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="map-view">
    <%= render "map" %>
  </div>
</div>

<%= javascript_import_module_tag "index" %>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" defer></script>
