<% content_for(:title, @spot.spot_name) %>
<div class="container mx-auto px-36">
  <div class="mb-8">
    <h1 class="text-xl font-bold mb-2"><%= t(".title") %></h1>
    <hr>
  </div>

  <div class="flex items-center justify-end my-4">
    <% if logged_in? && current_user.own?(@spot) %>
      <%= link_to t(".spot_edit"), edit_spot_path(@spot), data: { turbo: false }, class: "btn-primary" %>
    <% end %>
  </div>

  <% if @spot.images.present? %>
    <div class="flex justify-center mb-10">
      <div class="carousel custom-carousel overflow-hidden rounded-lg shadow hover:shadow-lg transition duration-300">
        <% @spot.images.each_with_index do |spot, i| %>
          <div id="slide<%= i + 1 %>" class="carousel-item relative">
            <%= image_tag (spot.url), class: "object-cover w-full h-full" %>
            <% if @spot.images.size >= 2 %>
              <div class="absolute flex justify-between transform -translate-y-1/2 left-2 right-2 top-1/2">
                <% prev_index = i > 0 ? i : @spot.images.size %>
                <% next_index = i + 2 <= @spot.images.size ? i + 2 : 1 %>
                <a href="#slide<%= prev_index %>" class="btn btn-circle">❮</a>
                <a href="#slide<%= next_index %>" class="btn btn-circle">❯</a>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="flex justify-center mb-10">
    <table class="table-fixed w-10/12">
      <tr class="h-10">
        <td class="text-base font-bold"><%= t(".spot_name") %></td>
        <td><%= @spot.spot_name %></td>
      </tr>
      <tr class="h-10">
        <td class="text-base font-bold"><%= t(".spot_tag") %></td>
        <td><%= @spot.tag_i18n %></td>
      </tr>
      <tr class="h-10">
        <td class="text-base font-bold"><%= t(".artist_name") %></td>
        <td><%= @spot.artist.name %></td>
      </tr>
      <tr class="h-10">
        <td class="text-base font-bold"><%= t(".detail") %></td>
        <td><%= simple_format(@spot.detail) %></td>
      </tr>
      <tr class="h-10">
        <td class="text-base font-bold"><%= t(".create_user") %></td>
        <td><%= @spot.user.name %></td>
      </tr>
    </table>
  </div>

  <div class="mb-20 mx-20">
    <h2 class="text-base font-bold mb-2"><%= t(".address") %></h2>
    <div id="map" class="h-96 rounded-md"></div>
  </div>

  <div class="mb-8">
    <hr>
  </div>

  <%= render "comments/form", comment: @comment, spot: @spot %>

  <div id="comments-list" class="flex flex-col mb-20">
    <% if @comments.present? %>
      <%= render @comments %>
    <% else %>
      <div id="none-comments" class="mb-3 px-2"><%= t(".none_comment") %></div>
    <% end %>
  </div>
</div>

<%= javascript_import_module_tag "show" %>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" defer></script>
