<% content_for(:title, @spot.spot_name) %>
<div class="container mx-auto px-36">
  <div class="mb-8">
    <h1 class="text-xl font-bold mb-2"><%= t(".title") %></h1>
    <hr>
  </div>

  <div class="mx-auto">
    <div class="px-18">
      <div class="mb-10">
        <div class="flex flex-wrap items-center mb-2">
          <h1 class="text-3xl mr-4"><%= @spot.spot_name %></h1>
          <div class="badge badge-lg bg-amber-300 border-none"><%= @spot.tag_i18n %></div>
        </div>
        <h2 class="text-2xl"><%= @spot.artist.name %></h2>
      </div>
      <section class="mb-4">
        <h3 class="text-base font-bold mb-1"><%= t(".detail") %></h3>
        <p><%= simple_format(@spot.detail) %></p>
      </section>
    </div>

    <% if @spot.images.present? %>
      <div class="flex flex-row mb-10">
        <div class="overflow-hidden shrink-0 rounded-lg shadow hover:shadow-lg transition duration-300" data-controller="slideshow" data-slideshow-count-value="<%= @spot.images.size %>">
          <% @spot.images.each do |spot| %>
            <div class="relative">
              <div data-slideshow-target="slide">
                <%= image_tag (spot.url) %>
                <% if @spot.images.size >= 2 %>
                  <div class="absolute flex justify-between w-full transform -translate-y-1/2 top-1/2">
                    <button class="btn btn-circle opacity-70" data-action="slideshow#previous">❮</button>
                    <button class="btn btn-circle opacity-70" data-action="slideshow#next">❯</button>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="flex flex-col justify-center shrink">
          <% @spot.images.each_with_index do |spot, i| %>
            <%= image_tag (spot.url), class: "rounded m-2 w-30 h-20 hover:shadow-2xl transition duration-300", data: {index: i} %>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="mb-8 px-18">
      <div class="mb-2">
        <h3 class="text-base font-bold mb-2"><%= t(".address") %></h3>
        <p><%= @spot.address %></p>
      </div>
      <div id="map" class="h-96 rounded-md"></div>
    </div>

    <div class="flex flex-row justify-between items-center mb-4">
      <div class="flex items-center">
        <div class="text-lg mr-2"><%= t(".create_user") %>：</div>
        <div class="mr-2">
          <%= @spot.user.name %>
        </div>
        <div class="avatar">
          <div class="w-10 rounded-full">
            <%= image_tag @spot.user.avatar_url %>
          </div>
        </div>
      </div>
      <div class="flex items-center mr-2">
        <% if logged_in? %>
          <%= render_bookmark_button(current_user, @spot) %>
        <% end %>
        <% if logged_in? && current_user.own?(@spot) %>
          <%= link_to "https://twitter.com/share?url=%0a#{request.url}&text=MelodyMap%0a#{@spot.spot_name}/#{@spot.artist.name}", target: "_blank", title: "Xでシェア" do %>
            <i><%= image_tag "logo-white.png", class: "w-8 rounded-lg bg-black p-2 m-2" %></i>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="flex items-center justify-end mr-2 mb-10">
      <% if logged_in? && current_user.own?(@spot) %>
        <%= link_to t("defaults.edit"), edit_spot_path(@spot), data: { turbo: false }, class: "btn-primary mr-2" %>
        <%= button_to t("defaults.delete"), spot_path(@spot), method: :delete, data: { turbo: false }, form: { onSubmit: "return checkDelete()" }, class: "btn-primary text-gray-700 bg-gray-200 hover:bg-red-500 hover:text-neutral-50 hover:shadow-md" %>
      <% end %>
    </div>

    <div class="flex justify-center mb-16">
        <%= link_to t(".to_spot_index"), spots_path, data: { turbo: false }, class: "btn-primary text-gray-700 bg-gray-200 hover:bg-gray-300 hover:shadow-md" %>
    </div>

    <div class="mb-8">
      <hr>
    </div>

    <%= render "comments/form", comment: @comment, spot: @spot %>

    <div id="comments-list" class="flex flex-col mb-20">
      <% if @comments.present? %>
        <%= render @comments %>
      <% else %>
        <div id="none-comments" class="mb-3 px-2"><%= t(".none_comment") %></div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_import_module_tag "show" %>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" defer></script>
