<section class="pt-36 pb-10">
  <div class="flex flex-row items-end justify-center mx-auto">
    <div class="relative">
      <h1 class="relative text-8xl font-medium text-yellow-400 z-10">Melody Map</h1>
      <div class="absolute bottom-16 left-4 z-0">
        <%= image_tag "score.svg" %>
      </div>
    </div>
    <%= image_tag "top_icon.svg" %>
  </div>
  <p class="flex justify-center text-yellow-400 text-2xl my-10">街と音楽を繋げるお出かけアプリ♪</p>

  <% unless logged_in? %>
  <div class="flex justify-center mt-20 mb-8">
    <%= link_to t("defaults.signup"), new_user_path, class: "btn-primary" %>
  </div>
  <% end %>
</section>

<section class="flex justify-center p-4">
  <div class="flex flex-col w-3/4 rounded-xl shadow-md bg-neutral-100 py-6">
    <h2 class="flex justify-center text-3xl font-medium">Melody Mapとは？</h2>
    <p class="flex justify-center pt-4">音楽に関する聖地を登録、検索できるお出かけアプリです♪</p>
    <p class="flex justify-center">音楽と出会い、街の新しい魅力を発見しましょう！</p>
  </div>
</section>

<section class="flex justify-center my-8 p-4">
  <div class="flex flex-col w-3/4 rounded-xl shadow-md bg-neutral-100 py-6">
    <h2 class="flex justify-center text-3xl font-medium m-2">使い方</h2>
    <div class="flex flex-col">
      <section class="m-10">
        <h3 class="flex justify-center text-2xl font-medium">その１. 聖地を登録してみよう！</h3>
        <p class="flex justify-center pt-4">好きなアーティストに関連する場所を登録してみましょう♪</p>
        <p class="flex justify-center pb-4">登録フォームではマップ上のマーカーをドラッグすることで詳細な位置を登録できます！</p>
        <%= image_tag "form_image.webp", class: "rounded-lg shadow" %>
      </section>
      <section class="m-10">
        <h3 class="flex justify-center text-2xl font-medium">その２. 聖地を検索してみよう！</h3>
        <p class="flex justify-center pt-4">条件を絞って聖地を検索してみよう♪</p>
        <p class="flex justify-center pb-4">家の近所にあのアーティストの聖地があるかも！！？？</p>
        <%= image_tag "search.webp", class: "rounded-lg shadow" %>
      </section>
    </div>
  </div>
</section>

<section class="flex justify-center my-8 p-4">
  <div class="flex flex-col w-3/4 rounded-xl shadow-md bg-neutral-100 py-6">
    <h2 class="flex justify-center text-3xl font-medium text-red-500 m-2">※ 注意 ※</h2>
    <div class="flex flex-col items-start mx-auto">
      <section class="m-2">
        <p class="flex justify-center text-xl pt-2">その１. 聖地に訪れる際は近隣の方の迷惑にならないようマナーを守りましょう！</p>
      </section>
      <section class="m-2">
        <p class="flex justify-center text-xl pt-2">その２. 私有地や制限区域に許可なく立ち入らないようにしましょう！</p>
      </section>
      <section class="m-2">
        <p class="flex justify-center text-xl pt-2">その３. 著作権に触れるコンテンツを投稿しないようにしましょう！</p>
      </section>
    </div>
  </div>
</section>

<div>
  <% unless logged_in? %>
  <div class="flex justify-center mt-10 mb-20">
    <div class="flex flex-col">
      <div class="flex justify-center">
        <%= link_to t("defaults.signup"), new_user_path, class: "btn-primary" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
