<div id="comment-form">
  <%= form_with model: [spot, comment], local: true do |form| %>
    <%= render "shared/error_messages", object: form.object %>

    <div class="mb-6">
      <%= form.label :body, class: "text-base font-bold mb-2" %>
      <%= form.text_field :body, required: true, class: "shadow appearance-none border rounded w-full py-2 px-3 mb-3 leading-tight" %>
    </div>

    <div class="flex items-center justify-center mb-10">
      <%= form.submit t(".create_comment"), class: "btn-primary" %>
    </div>
  <% end %>
</div>
