<div class="container mx-auto px-36">
  <div class="mb-4">
    <h1 class="text-xl font-bold mb-2"><%= t(".title") %></h1>
    <hr>
  </div>

  <%= turbo_frame_tag "comments-list" do %>
    <div class="flex flex-col">
      <% if @comments.present? %>
        <%= render @comments %>
      <% else %>
        <div class="mb-3"><%= t(".none_comment") %></div>
      <% end %>
    </div>

    <div class="flex justify-center my-4">
      <%= paginate @comments %>
    </div>
  <% end %>
</div>
