<div class="container mx-auto px-36">
  <div class="mb-8">
    <h1 class="text-xl font-bold mb-2"><%= t(".title") %></h1>
    <hr>
  </div>

  <div class="mx-20">
    <div class="flex justify-between mb-10">
      <div class="flex flex-col">
        <div class="h-10">
          <h2 class="text-xl font-bold"><%= @comment.title %></h2>
        </div>
        <div class="h-10">
          <%= link_to spot_path(@comment.spot), data: { turbo: false } do %>
            <h2 class="text-xl font-bold"><%= @comment.spot.spot_name %> / <%= @comment.spot.artist.name %></h2>
          <% end %>
        </div>
      </div>
      <div>
        <p><%= t(".update_date") %> <%= l @comment.updated_at, format: :short %></p>
      </div>
    </div>

    <div class="h-10 mb-20">
      <div class="text-base"><%= simple_format(@comment.body) %></div>
    </div>
  </div>

  <div class="flex items-center justify-around">
    <%= link_to t(".return_spot"), spot_path(@comment.spot), data: { turbo: false }, class: "flex-shrink-0 text-neutral-50 bg-amber-500 border-0 py-2 px-8 focus:outline-none hover:bg-amber-600 rounded-full text-lg mt-10 sm:mt-0" %>
    <% if logged_in? && current_user.own?(@comment) %>
      <div>
        <%= link_to t("defaults.edit"), edit_comment_path(@comment), class: "btn-primary" %>
        <%= link_to t("defaults.delete"), comment_path(@comment), data: { turbo_method: :delete, turbo_confirm: t("defaults.delete_confirm") }, class: "btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
