<header class="text-neutral-50 bg-yellow-400 font-medium">
  <div class="flex flex-wrap p-5 flex-col md:flex-row items-center">
    <%= link_to "Music Map", root_path, class: "flex items-center text-4xl text-neutral-50 mb-4 md:mb-0" %>
    <nav class="md:ml-auto flex flex-wrap items-center text-xl justify-center">
      <%= link_to t("defaults.spots_index"), spots_path, data: { turbo: false }, class: "mr-5 link-primary" %>
      <details class="dropdown dropdown-end">
        <summary class="btn border-0 shadow-none bg-yellow-400 text-neutral-50 hover:bg-amber-500 hover:shadow-md">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
          </svg>
        </summary>
        <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52 text-gray-700">
          <li><%= link_to t("defaults.bookmarks_index"), bookmarks_spots_path, data: { turbo: false } %></li>
          <li><%= link_to t("defaults.profile"), profile_path %></li>
          <li><%= link_to t("defaults.profile_edit"), edit_profile_path %></li>
          <li><%= link_to t("defaults.logout"), logout_path, data: { turbo_method: :delete } %></li>
        </ul>
      </details>
    </nav>
  </div>
</header>
