<header class="text-neutral-50 bg-yellow-400 font-medium">
  <div class="flex flex-wrap p-5 flex-col md:flex-row items-center">
    <%= link_to "Melody Map", root_path, class: "flex items-center text-4xl text-neutral-50 mb-4 md:mb-0" %>
    <nav class="md:ml-auto flex flex-wrap items-center text-xl justify-center z-20">
      <details class="dropdown dropdown-end">
        <summary class="btn border-0 shadow-none bg-yellow-400 text-neutral-50 hover:bg-amber-500 hover:shadow-md">
          <%= image_tag "hamburger_menu.svg" %>
        </summary>
        <ul class="p-2 shadow menu dropdown-content z-[1] bg-neutral-50 rounded-box w-52 text-gray-700">
          <li class="hover:bg-neutral-100 rounded-md"><%= link_to t("defaults.spots_index"), spots_path, data: { turbo: false } %></li>
          <li class="hover:bg-neutral-100 rounded-md"><%= link_to t("defaults.bookmarks_index"), bookmarks_spots_path, data: { turbo: false } %></li>
          <li class="hover:bg-neutral-100 rounded-md"><%= link_to t("defaults.profile"), profile_path %></li>
          <li class="hover:bg-neutral-100 rounded-md"><%= link_to t("defaults.logout"), logout_path, data: { turbo_method: :delete } %></li>
        </ul>
      </details>
    </nav>
  </div>
</header>
