<div class="container mx-auto px-36">
  <div class="mb-8">
    <h1 class="text-xl font-bold mb-2">投稿詳細</h1>
    <hr>
  </div>

  <div class="flex items-center justify-end my-4">
    <%= link_to "投稿編集", "#", class: "flex-shrink-0 text-neutral-50 bg-amber-500 border-0 py-2 px-8 focus:outline-none hover:bg-amber-600 rounded-full text-lg mt-10 sm:mt-0" %>
  </div>

  <div class="mx-20 mb-20">
    <div class="flex justify-between mb-10">
      <div class="flex flex-col">
        <div class="h-10">
          <h2 class="text-xl font-bold"><%= @post.title %></h2>
        </div>
        <div class="h-10">
          <%= link_to spot_path(@post.spot) do %>
            <h2 class="text-xl font-bold"><%= @post.spot.spot_name %> / <%= @post.spot.artist.name %></h2>
          <% end %>
        </div>
      </div>
      <div>
        <p>更新日: <%= l @post.updated_at, format: :short %></p>
      </div>
    </div>

    <div class="h-10">
      <div class="text-base"><%= simple_format(@post.body) %></div>
    </div>
  </div>

  <div class="flex items-center justify-center">
    <%= link_to "聖地詳細へ戻る", spot_path(@post.spot), class: "flex-shrink-0 text-neutral-50 bg-amber-500 border-0 py-2 px-8 focus:outline-none hover:bg-amber-600 rounded-full text-lg mt-10 sm:mt-0" %>
  </div>
</div>
