<% content_for(:title, t("defaults.login")) %>
<div class="container mx-auto px-8 xl:px-28 h-[36rem]">
  <div class="mb-8">
    <h1 class="text-xl font-bold mb-2"><%= t("defaults.login") %></h1>
    <hr>
  </div>

  <%= form_with url: login_path, local: true do |form| %>
    <div class="mb-6">
      <%= form.label :email, t("defaults.email"), autofocus: true, class: "text-base font-bold mb-2" %>
      <%= form.email_field :email, class: "shadow appearance-none border rounded w-full py-2 px-3 leading-tight" %>
    </div>

    <div class="mb-10">
      <%= form.label :password, t(".password"), class: "text-base font-bold mb-2" %>
      <%= form.password_field :password, class: "shadow appearance-none border rounded w-full py-2 px-3 mb-3 leading-tight" %>
    </div>

    <div class="flex items-center justify-center mb-24">
      <%= form.button t("defaults.login"), class: "btn-primary", type: "button", onclick: "submit();" %>
    </div>
  <% end %>

  <div class="flex flex-col sm:flex-row justify-evenly">
    <%= link_to t(".signup_link"), new_user_path, class: "text-base mb-2" %>
    <%= link_to t(".forgot_password"), new_password_reset_path, class: "text-base mb-2" %>
  </div>
</div>
