<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag("favicon.ico") %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= include_gon %>
    <%= display_meta_tags(default_meta_tags) %>
  </head>

  <body class="bg-neutral-50">
    <% if logged_in? %>
      <%= render "shared/header" %>
    <% else %>
      <%= render "shared/before_login_header" %>
    <% end %>
    <%= render "shared/flash_messages" %>
    <main class="container mx-auto mt-8 sm:mt-16 flex-auto text-gray-700">
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
